.App {
  text-align: center;
  padding: 100px;
  background-color: blue;
  color: white;
  height: 100vh;
}

.heading {
  font-size: 24px;
  margin: 10px;
}

.subheading {
  font-size: 16px;
  margin: 10px;
  margin-bottom: 50px;
}

.label-input {
  margin: 20px;
}

input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
}

.login-btn-div {
  padding: 15px;
}

.login-btn {
  border-radius: 10px;
  background-color: green;
  color: white;
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.error-msg {
  color: rgb(251, 0, 0);
  font-size: 20px;
  font-weight: 700;
}

.success-msg {
  color: rgb(1, 249, 1);
  font-size: 20px;
  font-weight: 700;
}
